*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1820px;
  margin-inline: auto;
  padding-left: 80px;
  padding-right: 80px;
}

body{
  background-color: rgb(246,247,249);
}